$ORIGIN {{ item.reverse }}.in-addr.arpa.
$TTL {{ bind_ttl }}
; 			primary NS 			email address admin
@ IN SOA 	 {% for value in bind_zone_name_servers %} {{ value }}.{{ bind_zone_name }}. hostmaster.{{ bind_zone_name }}. {% endfor %} (
	14101813	; serial
	1D		; refresh
	1H		; retry
	1W		; expire
	1D )	; negative caching TTL

	IN	NS	{% for value in bind_zone_name_servers %} {{ value }}.{{ bind_zone_name }}. {% endfor %}

{% for host in bind_zone_hosts if host.ip.startswith(item.ip) %}
{{ ('.'.join(host.ip.replace(item.ip+'.','').split('.')[::-1])).ljust(8) }} IN PTR {{ host.name }}.{{bind_zone_name}}.
{% endfor %}